
/* 
    Criar Clase "menu"
 */
 .menu{
    display:flexbox;
    align-items: center;
    justify-items: center;
    place-items:inherit;
}

.menu > ul {
    display: flex;
    margin: auto;
    padding: 14px 10px 24px 10px;
    
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10rem;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.menu > ul > li{
    width: 15%;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 18pt; 
    margin: 1rem; 
}
.menu  a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.874);
   
}
.menu  a:hover{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(198, 196, 255);
    
}
@media (width<= 440px){
    .menu ul{
        display: flex;
        margin-bottom: 1in;
        padding: 14px 10px 24px 10px;
        gap: 24px;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 10rem;
    
    }
}


/*Decoração lista*/


